.formGroup select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.formGroup select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid lightgray;
  font-size: 1rem;
  transition: all 0.3s;
  font-family: var(--ffBody);
  background-color: white;
}

.formGroup select:focus {
  outline: none;
  border-color: var(--primaryColor);
}

.formGroup label span {
  color: var(--accent-red);
}

.formGroup select option {
  color: var(--text-color);
}

.formGroup label {
  display: block;
  color: gray;
  margin-bottom: 0.25rem;
}

.errorInput select {
  border: 1px #eb6559 solid;
  padding: 0.5rem;
  color: #eb6559;
  font-family: var(--ffBody);
  font-size: 1rem;
  background-color: rgba(255, 0, 0, 0.05);
}
