.notFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  height: 100dvh;
}

.notFoundPage h1,
.notFoundPage p {
  margin: 0;
  text-align: center;
}

.notFoundPage h1 {
  color: var(--primary);
}

.notFoundPage a {
  background-color: var(--primary);
  color: var(--white);
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}

.notFoundPage a:hover {
  background-color: var(--primary-dark);
}
