.cartWrapper {
  width: min(100%, 750px);
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgb(224, 224, 224);
}

.cartItems {
  opacity: 0;
  animation: fadeInFromBottom 0.5s ease-in-out forwards;
}

.cartItems ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.cartItem h2,
.cartItem p {
  margin: 0;
}

.cartItem {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-top: 1px solid rgba(224, 123, 16, 0.5);
}

.cartItemInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cartItemInfoHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.cartItemInfoHeading div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.cartItemInfoHeading p {
  font-size: clamp(1.75rem, 1.657rem + 0.381vw, 2rem);
  color: var(--primaryColor);
  font-weight: var(--fw-600);
  font-family: var(--ffHeading);
}

.cartItemInfoHeading h3 {
  font-size: clamp(1.75rem, 1.657rem + 0.381vw, 2rem);
}

.itemDescription {
  color: gray;
  font-size: clamp(0.875rem, 0.829rem + 0.19vw, 1rem);
  font-style: italic;
}

.cartItemActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartItemControls button {
  background-color: var(--primaryColor);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartItemControls button:hover {
  background-color: var(--primaryColorDark);
}

.cartItemControls {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cartItemControls span {
  font-size: clamp(1rem, 0.907rem + 0.381vw, 1.25rem);
}

.removeItem img {
  width: 1.25rem;
  height: auto;
  cursor: pointer;
}

.cartTotal {
  text-align: right;
  font-family: var(--ffHeading);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.cartCta {
  display: flex;
  gap: 1rem;
  margin: 2rem auto 0 auto;
  width: min(100%, 575px);
}

.cartCta a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
  width: 100%;
  text-transform: uppercase;
}

.cartCta .checkout {
  background-color: var(--primaryColor);
  color: white;
  font-weight: 700;
  font-size: clamp(1rem, 0.907rem + 0.381vw, 1.25rem);
}

.cartCta .checkout:hover {
  background-color: var(--primaryColorDark);
}

.cartCta .backToShop {
  background-color: rgb(240, 240, 240);
  color: gray;
  font-weight: 500;
  font-size: clamp(1rem, 0.907rem + 0.381vw, 1.25rem);
}

.cartCta .backToShop:hover {
  background-color: rgb(220, 220, 220);
}

.backToShopNoItems {
  text-decoration: none;
  background-color: var(--primaryColor);
  color: white;
  font-size: 1.125rem;
  display: block;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  padding-block: 0.5rem;
  transition: all 0.2s;
}

.backToShopNoItems:hover {
  background-color: var(--primaryColorDark);
}

.cartItemVariations {
  background-color: rgb(244, 244, 244);
  padding: 1rem;
}

.cartItemVariations p:first-child {
  font-weight: var(--fw-600);
  color: gray;
  font-size: clamp(0.875rem, 0.829rem + 0.19vw, 1rem);
}

.itemDough,
.itemExtra,
.itemRemoval,
.itemCookingOption,
.itemSpiceLevel {
  font-size: 0.875rem;
  color: gray;
}

@media screen and (max-width: 768px) {
  .cartCta {
    flex-direction: column;
  }
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
