.footer {
  background-color: rgb(241, 241, 241);
  padding-block: 4rem 0;
}

.footer p {
  margin: 0;
  font-size: 0.875rem;
  color: rgb(83, 83, 83);
}

.footerContainer {
  display: flex;
  align-items: start;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.footerCol {
  flex: 1;
}

.footerCol h4 {
  color: var(--primaryColor);
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.footerLinks {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.footerLogo {
  width: 60px;
  height: auto;
  margin-bottom: 1rem;
}

.footerLinkWebsite {
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--primaryColor);
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  display: block;
  width: fit-content;
  text-decoration: none;
  margin-bottom: 1rem;
  border: 1px solid rgba(94, 94, 94, 0.2);
  box-shadow: 0 3px 2px -2px var(--primaryColor);
  transition: background-color 0.3s ease;
}

.footerLinkWebsite:hover {
  background-color: var(--primaryColorDark);
}

.footerBottom {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerBottom p {
  font-size: 0.75rem;
  color: rgb(83, 83, 83);
}

.footerLinks a {
  text-decoration: none;
  font-size: 0.875rem;
  transition: all 0.3s ease;
  color: rgb(83, 83, 83);
}

.footerLinks a:hover {
  text-decoration: none;
  color: var(--primaryColor);
}

.footerSocials {
  display: flex;
  gap: .5rem;
}

.footerSocials svg {
  width: 32px;
  height: 32px;
  transition: stroke 0.3s ease;
  cursor: pointer;
}

.footerSocials svg:hover {
  stroke: var(--primaryColor);
}

@media screen and (max-width: 768px) {
  .footerLinks {
    flex-direction: column;
    gap: 0.25rem;
  }
}
