.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postponementModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  padding: 1rem 0.25rem 1rem 1rem;
  width: 90%;
  max-width: 450px;
  overflow-y: scroll;
  z-index: 1000;
  border: none;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.modalContent h3 {
  font-weight: var(--fw-600);
  font-family: var(--ffHeading);
  margin: 0;
  line-height: 1.15;
}

.modalContent h3 span {
  color: var(--primaryColor);
}

.modalContent p {
  font-size: clamp(1rem, 0.907rem + 0.381vw, 1.25rem);
  color: gray;
  margin: 0;
}

.modalActions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modalActions button {
  border: none;
  outline: none;
  transition: all 0.2s;
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: var(--fw-600);
  cursor: pointer;
}

.confirmButton {
  background-color: var(--primaryColor);
  color: white;
}

.confirmButton:hover {
  background-color: var(--primaryColorDark);
}

.cancelButton {
  background-color: rgb(230, 230, 230);
  color: gray;
}

.cancelButton:hover {
  background-color: rgb(215, 215, 215);
}

.modalContent .warningText {
  color: #eb6559;
  font-size: clamp(0.875rem, 0.829rem + 0.19vw, 1rem);
}

@media screen and (max-width: 768px) {
  .postponementModal {
    padding: 1rem;
  }
}
