.maintenance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  gap: 2rem;
}

.maintenance img {
  width: 150px;
  height: auto;
}

.maintenance h1 {
  color: var(--primaryColor);
  text-align: center;
  margin: 0;
  font-size: clamp(2rem, 1.543rem + 2.286vw, 4rem);
}

.maintenance p {
  color: gray;
  font-size: clamp(1.25rem, 0.971rem + 1.143vw, 2rem);
  text-align: center;
  margin: 0;
}
