.order {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: clamp(0.75rem, 0.657rem + 0.381vw, 1rem);
  background-color: white;
  border: 1px solid rgb(225, 225, 225);
}

.orderDetailsWrapper {
  display: flex;
  gap: 1rem;
}

.customerName {
  font-size: clamp(1.125rem, 0.893rem + 0.952vw, 1.75rem);
  color: gray;
  font-weight: var(--fw-600);
}

.orderNumber {
  background-color: var(--primary);
  width: clamp(3.125rem, 2.893rem + 0.952vw, 3.75rem);
  height: clamp(3.125rem, 2.893rem + 0.952vw, 3.75rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.orderNumber p {
  font-weight: var(--fw-600);
  color: white;
  margin: 0;
  font-size: clamp(0.875rem, 0.829rem + 0.19vw, 1rem);
}

.pickupTime,
.orderTotal {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pickupTime p {
  margin: 0;
  font-size: clamp(1rem, 0.907rem + 0.381vw, 1.25rem);
  color: rgb(158, 158, 158);
  font-weight: var(--fw-500);
}

.orderTotal p {
  margin: 0;
  font-size: clamp(1rem, 0.907rem + 0.381vw, 1.25rem);
  color: gray;
  font-weight: var(--fw-300);
}

.pickupTime img,
.orderTotal img {
  width: clamp(1.25rem, 1.134rem + 0.476vw, 1.563rem);
  height: clamp(1.25rem, 1.134rem + 0.476vw, 1.563rem);
}

.orderActions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.orderStatus {
  padding: 0.25rem 0.5rem;
  font-size: clamp(0.75rem, 0.657rem + 0.381vw, 1rem);
}

.orderStatus.waiting {
  background-color: #ffeb99;
  color: #8a6d3b;
}

.orderStatus.completed {
  background-color: #d4edda;
  color: #155724;
}
