.subcategoryItem {
  flex: 1 1 calc(25% - 0.75rem); /* 4 items per row */
  max-width: calc(25% - 0.75rem);
}

.subcategoryButton {
  background-color: rgb(230, 230, 230);
  color: gray;
  border: none;
  padding: 0.5rem;
  font-size: clamp(0.875rem, 0.782rem + 0.381vw, 1.125rem);
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
}

.subcategoryButton:hover {
  background-color: rgba(215, 215, 215);
}

.active {
  background-color: var(--primary);
  color: var(--white);
  box-shadow: 0 2px 5px rgba(224, 123, 16, 0.5);
}

.active:hover {
  background-color: var(--primary);
  color: var(--white);
  box-shadow: 0 2px 5px rgba(224, 123, 16, 0.5);
}

/* Tablet: 2 columns */
@media (max-width: 1024px) {
  .subcategoryItem {
    flex: 1 1 calc(50% - 10px); /* 2 columns */
    max-width: calc(50% - 10px);
  }
}
