.cartPage {
  padding-block: 9rem;
  min-height: 100dvh;
}

.cartPage h1 {
  margin: 0 0 3rem 0;
  text-align: center;
  color: var(--primaryColor);
}

.cartItems {
  opacity: 0;
  animation: fadeInFromBottom 0.5s ease-in-out forwards;
}

.cartItems ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.backToShopNoItems {
  text-decoration: none;
  background-color: var(--primaryColor);
  color: white;
  font-size: 1.125rem;
  display: block;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  padding-block: 0.5rem;
  transition: all 0.2s;
}

.backToShopNoItems:hover {
  background-color: var(--primaryColorDark);
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}