.checkoutForm {
  position: sticky;
  top: 110px;
}

.checkoutForm fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: none;
}

.checkoutForm button {
  background-color: var(--primaryColor);
  font-family: var(--ffBody);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 300px;
  font-size: clamp(1rem, 0.907rem + 0.381vw, 1.25rem);
  margin: 1rem auto 0 auto;
  cursor: pointer;
  transition: all 0.2s;
}

.checkoutForm button:hover {
  background-color: var(--primaryColorDark);
}

.doubleGroup {
  display: flex;
  gap: 1rem;
}

.doubleGroup div {
  width: 100%;
}

.doubleGroup input {
  width: 100%;
}

.error {
  color: #eb6559;
  font-size: 0.875rem;
  margin: 0;
}

.errorBanner {
  background-color: rgba(235, 101, 89, 0.15);
  color: #eb6559;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .checkoutForm button {
    width: 100%;
  }
}
